# Django Settings
SECRET_KEY=django-insecure-w5xzasu331oqj5g+zpfl=*flt92^(hazr7s^91@%$j!o%-_&24
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# OpenAI API
OPENAI_API_KEY=your-openai-api-key-here

# Email Configuration
EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=your-app-specific-password

# Database (si usas PostgreSQL en produccion)
DATABASE_URL=postgresql://postgres:postgres@db:5432/peeringlatam
